@keyframes decrement {
  from {width: 100%;}
  to {width: 0%;}
}

.feed {
  .feed__loader {
    background-color: #70a6ff;
    height: .2em;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    animation-name: decrement;
    animation-timing-function: linear;
  }
  .feed__channel {
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: .6em 1em;
    border-radius: 2em;
    font-size: .9em;
    font-weight: bold;
    }
  .feed__item {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    &.ng-enter,
    &.ng-leave {
      transition: .5s linear;
    }
    &.ng-enter.ng-enter-active,
    &.ng-leave {
      opacity: 1;
    }
    &.ng-leave.ng-leave-active,
    &.ng-enter {
      opacity: 0;
    }
    .feed__item-image {
      height: 16em;
      width: 100%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: #fff;
    }
    .feed__item-content {
      padding: 2.6em 1.6em 1.6em 1.6em;
    }
    .feed__item-title {
      word-wrap: break-word;
      font-size: 1.8em;
      line-height: 1.2em;
    }
    .feed__item-meta {
      opacity: .5;
      margin-bottom: .8em;
      padding-right: 130px;
    }
    .feed__item-qrcode {
      position: absolute;
      top: 13em;
      padding: .2em;
      right: 1em;
      border-radius: 3px;
      background-color: white;
      display: inline-block;
      width: 100px;
      height: 100px;
      box-shadow: 0 0 1em -.2em rgba(0, 0, 0, 0.4);
      canvas {
        width: 100%;
      }
    }
    &.feed__item--no-image {
      .feed__item-content {
        height: 28em;
        display: table-cell;
        vertical-align: middle;
      }
      .feed__item-qrcode {
        top: 1em;
      }
      .feed__item-meta {
        padding-right: 0px;
      }
    }
  }
}