<div class="remote-inspector">
    <remote></remote>
</div>
<div class="main-wrapper">
  <div class="recognized-text"><div class="recognized-text__icon"><i class="fa fa-microphone" aria-hidden="true"></i></div><div class="recognized-text__text" ng-show="recognizedText">{{recognizedText}}</div></div>
  <time class="clock" style="h:mma"></time>
  <subway ng-show="showDashboard.$value===true"></subway>
  <div class="main-wrapper__logged-in">{{firebaseUser.email}}<div ng-click="toggleInspector()" class="settings-link"><i class="fa fa-cog" aria-hidden="true"></i></div></div>
    <div ng-show="showDashboard.$value===true" class="main">
        <div class="main__today">
            <div class="main__today-content">
                <div class="today-basic">
                    <time class="date" style="EEEE, MMMM d"></time>
                    <weather></weather>
                </div>
                <calendar></calendar>
            </div>
        </div>
        <div class="main__feed">
            <feed></feed>
        </div>
        <div class="main__notes-view">
            <notes-view></notes-view>
        </div>
    </div>
</div>
<ftux></ftux>