.calendar {
  font-size: .9em;
  width: 100%;
  position: relative;
  .calendar__item {
    display: flex;
    line-height: 2em;
  }
  .calendar__item-summary,
  .calendar__item-date {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
  }
  .calendar__item-date {
    min-width: 7em;
    opacity: .5;
  }
}