<div class="remote">
    <div class="remote__window">
        <div class="remote__window-wrapper">
            <settings ng-show="section==='settings'"></settings>
            <categories ng-show="section==='feeds'"></categories>
            <notes-edit ng-show="section==='notes'"></notes-edit>
        </div>
    </div>
    <div class="remote__tabs">
        <div ng-class="{'selected':section==='feeds'}" ng-click="navigate('feeds')" class="remote__tab">Feeds</div>
        <div ng-class="{'selected':section==='notes'}" ng-click="navigate('notes')" class="remote__tab">Notes</div>
        <div ng-class="{'selected':section==='settings'}" ng-click="navigate('settings')" class="remote__tab">Settings</div>
    </div>
</div>