<div class="settings">
    <div class="settings__section">
        <div class="settings__section-title-block">
            <div class="settings__section-title">Google</div>
        </div>
        <button ng-if="!userInfo.credentials.google.access_token" ng-click="connectGoogle()">Connect with Google</button>
        <div ng-if="userInfo.credentials.google.access_token">
            <button ng-click="disconnectGoogle()">Disconnect from Google</button>
            <div class="settings__input">
                <label>Calendar</label>
                <select ng-model="userInfo.preferences.calendar" ng-change="saveUserInfo()">
                  <option ng-repeat="calendar in calendars" value="{{calendar.id}}">{{calendar.summary}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="settings__section">
        <div class="settings__section-title-block">
            <div class="settings__section-title">Weather Underground</div>
            <div class="settings__section-description">Create a weather underground account <a target="_blank" href="https://www.wunderground.com/member/registration?mode=api_signup">here</a> then create a new project to receive a developer key.</div>
        </div>
        <div class="settings__input">
            <label>Key</label>
            <input type="text" ng-model="userInfo.credentials.weatherUnderground"> 
        </div>
        <div class="settings__input">
            <label>Zip Code</label>
            <input type="text" ng-model="userInfo.preferences.zip"> 
        </div>
    </div>
    <div class="settings__section">
        <div class="settings__section-title-block">
            <div class="settings__section-title">Feedly</div>
            <div class="settings__section-description">Get your user id and token <a target="_blank" href="https://feedly.com/v3/auth/dev">here</a>. Your user id will be displayed immediately and your token will be emailed to you.</div>
        </div>
         <div class="settings__input">
            <label>User Id</label>
            <input type="text" ng-model="userInfo.credentials.feedly.userId">
        </div>
        <div class="settings__input">
            <label>Token</label>
            <input type="text" ng-model="userInfo.credentials.feedly.token">
        </div>
        <div class="settings__input">
            <div class="settings__line">
                <input ng-model="userInfo.preferences.qr" id="qr" type="checkbox" ng-change="saveUserInfo()">
                <label for="qr"></label>
                <div class="settings__line-label">Show Qr Code</div>
            </div>
        </div>
    </div>

    <div class="settings__section">
        <div class="settings__section-title-block">
            <div class="settings__section-title">Misc</div>
        </div>
        <div class="settings__input">
            <label>Background Image</label>
            <input type="text" ng-model="userInfo.preferences.backgroundImage">
        </div>
        <div class="settings__input">
            <div class="settings__line">
                <input ng-model="userInfo.preferences.showDashboard" id="showDashboard" type="checkbox" ng-change="saveUserInfo()">
                <label for="showDashboard"></label>
                <div class="settings__line-label">Show Dashboard</div>
            </div>
        </div>
    </div>

    <div class="settings__section">
        <div class="settings__section-title-block">
            <div class="settings__section-title">New York City Subway</div>
            <div class="settings__section-description">Get real time updates about subway trains you care about.</div>
        </div>
         <div class="settings__input">
            <div class="settings__line">
                <input ng-model="userInfo.preferences.lines['123']" id="line-123" type="checkbox" ng-change="saveUserInfo()">
                <label for="line-123"></label>
                <div class="settings__line-label">123</div>
            </div>
            <div class="settings__line">
                <input ng-model="userInfo.preferences.lines['456']" id="line-456" type="checkbox" ng-change="saveUserInfo()">
                <label for="line-456"></label>
                <div class="settings__line-label">456</div>
            </div>
            <div class="settings__line">
                <input ng-model="userInfo.preferences.lines['7']" id="line-7" type="checkbox" ng-change="saveUserInfo()">
                <label for="line-7"></label>
                <div class="settings__line-label">7</div>
            </div>
            <div class="settings__line">
                <input ng-model="userInfo.preferences.lines['ACE']" id="line-ACE" type="checkbox" ng-change="saveUserInfo()">
                <label for="line-ACE"></label>
                <div class="settings__line-label">ACE</div>
            </div>
            <div class="settings__line">
                <input ng-model="userInfo.preferences.lines['BDFM']" id="line-BDFM" type="checkbox" ng-change="saveUserInfo()">
                <label for="line-BDFM"></label>
                <div class="settings__line-label">BDFM</div>
            </div>
            <div class="settings__line">
                <input ng-model="userInfo.preferences.lines['G']" id="line-G" type="checkbox" ng-change="saveUserInfo()">
                <label for="line-G"></label>
                <div class="settings__line-label">G</div>
            </div>
            <div class="settings__line">
                <input ng-model="userInfo.preferences.lines['JZ']" id="line-JZ" type="checkbox" ng-change="saveUserInfo()">
                <label for="line-JZ"></label>
                <div class="settings__line-label">JZ</div>
            </div>
            <div class="settings__line">
                <input ng-model="userInfo.preferences.lines['L']" id="line-L" type="checkbox" ng-change="saveUserInfo()">
                <label for="line-L"></label>
                <div class="settings__line-label">L</div>
            </div>
            <div class="settings__line">
                <input ng-model="userInfo.preferences.lines['NQR']" id="line-NQR" type="checkbox" ng-change="saveUserInfo()">
                <label for="line-NQR"></label>
                <div class="settings__line-label">NQR</div>
            </div>
            <div class="settings__line">
                <input ng-model="userInfo.preferences.lines['S']" id="line-S" type="checkbox" ng-change="saveUserInfo()">
                <label for="line-S"></label>
                <div class="settings__line-label">S</div>
            </div>
            <div class="settings__line">
                <input ng-model="userInfo.preferences.lines['SIR']" id="line-SIR" type="checkbox" ng-change="saveUserInfo()">
                <label for="line-SIR"></label>
                <div class="settings__line-label">SIR</div>
            </div>
        </div>
    </div>

    <div class="settings__section">
        <div class="settings__section-title-block">
            <div class="settings__section-title">IFTTT</div>
            <div class="settings__section-description">Register your IFTTT events here.</div>
        </div>
        <div class="settings__input">
            <label>Key</label>
            <input type="text" ng-model="userInfo.credentials.ifttt.key">
        </div>
        <div class="settings__command" ng-repeat="(key,command) in myCommands">
            <div class="settings__input">
                <label>Trigger</label>
                <input type="text" ng-model="userInfo.commands[command.$id].trigger"> 
            </div>
            <div class="settings__input">
                <label>Action</label>
                <input type="text" ng-model="userInfo.commands[command.$id].action"> 
            </div>
            <div class="settings__input">
                <label>Response</label>
                <input type="text" ng-model="userInfo.commands[command.$id].response"> 
            </div>
            <button ng-click="removeCommand(key)">Remove Command</button>
        </div>
        <button ng-click="addCommand()">Add Command</button>
    </div>

    <div class="settings__section">
        <button ng-click="saveUserInfo()">Apply Changes</button> 
    </div>
    <div class="settings__section">
        <button ng-click="logout()">Logout</button>
    </div>
</div>