.settings {
  color: #fff;
  .settings__title-block {
    padding: 1em;
  }
  .settings__section {
    border-bottom: 1px solid #121b29;
    padding: 1em;
  }
  .settings__section-title-block {
    margin-bottom: 2em;
  }
  .settings__section-title {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: .2em;
  }
  .settings__section-description {
    line-height: 1.2em;
  }
  .settings__input {
    margin-bottom: 1em;
    &:last-child {
      margin-bottom: 0;
    }
  }
  button,
  input[type="text"],
  input[type="password"],
  select {
    display: block;
    width: 100%;
    padding: 1em;
  }
  button {
    margin-bottom: 1em;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .settings__command {
    margin-bottom: 3em;
  }
  .settings__line {
  margin-bottom: .8em;
    .settings__line-label {
      display: inline-block;
      margin-left: 24px;
      line-height: 28px;
    }
    width: 100%;
    position: relative;
    label {
      width: 30px;
      height: 30px;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 1;
      background-color: #121b29;
      &:after {
        content: '';
        width: 11px;
        height: 5px;
        position: absolute;
        top: 9px;
        left: 8px;
        border: 3px solid #fff;
        border-top: none;
        border-right: none;
        opacity: 0;
        transform: rotate(-45deg);
      }
    }
    input {
      visibility: hidden;
      &:checked + label:after {
        opacity: 1;
      }
    }
  }
}